.login-box{
    margin-bottom: 300px;
    .login-logo{
        img{
            height: 200px;
            width: 200px; 
            border-radius: 50%
        }
    }
    .login-box-body{
        padding: 10px; 
    }
    .validation-div{
        margin-bottom: 10px;
    }    
}